nav.Pages{

	display:          flex;
	flex-direction:   row;
	justify-content:  center;
	align-items:      center;
	width:            100%;
	margin:           0 auto;
	padding:          0.5rem;
	gap:              2rem;
	background:       var(--Grey_2);
	opacity:          0.85;

	.Group{
		--BorderColor:  var(--Grey_1);

		display:        flex;
		align-items:    center;
    height:         1.6rem;
		margin-left:    2rem;
		padding-right:  0.6rem;
		gap:            0.6rem;
		background:     var(--Grey_3);
		border:         1px solid var(--BorderColor);
		border-radius:  3px;
		opacity:        0.7;
	}

	.Group > .Title{
    display:       flex;
    align-items:  center;
    height:        100%;
    padding:       0 0.5rem;
		background:    var(--Grey_1);
		color:         var(--Grey_7);
		border-right:  1px solid var(--BorderColor);
		opacity:       0.7;
		font-size:     0.9rem;
	}

	.Group > .Link{
		padding:  0.15rem 0 0.2rem 0;

		&:not(:last-of-type){
			border-right:   1px solid var(--BorderColor);
			padding-right:  0.6rem;
		}

		a{
			color:            var(--Grey_7);
			text-decoration:  none;
			transition:       all 400ms;
		}

		&:hover > a{
			filter:
				brightness(1.4)
				saturate(1.6)
				drop-shadow(0px 0px 4px  hsla(0, 0%, 0%, 0%  ))
				drop-shadow(0px 0px 16px hsla(0, 0%, 0%, 100%))
			;
		}

		a.Active,
		a:active{
			color:  hsl(224, 100%, 98%);

			filter:
				brightness(1)
				saturate(1)
				drop-shadow(0px 0px 4px hsla(0, 0%, 0%, 60%))
				drop-shadow(0px 0px 8px hsla(0, 0%, 0%, 30%))
			;
		}

	}

}
