---

	//###  Style  ###//
	import "./index.scss"

	//###  Components.Destination  ###//
	import Destination_Astro   from "./Destinations/Astro.astro"
	import {Destination_React} from "./Destinations/React"
	import {Destination_Solid} from "./Destinations/Solid"
	import Destination_Svelte  from "./Destinations/Svelte.svelte"
	import Destination_Vue     from "./Destinations/Vue.vue"

	//###  Components.Entrnace  ###//
	import Entrance_Astro   from "./Entrances/Astro.astro"
	import {Entrance_React} from "./Entrances/React"
	import {Entrance_Solid} from "./Entrances/Solid"
	import Entrance_Svelte  from "./Entrances/Svelte.svelte"
	import Entrance_Vue     from "./Entrances/Vue.vue"

---



<div class="NestedFrameworks">
	<div class="Rows">
		<Destination_Astro  client:visible/>
		<Destination_React  client:visible/>
		<Destination_Solid  client:visible/>
		<!--<Destination_Svelte client:visible/>-->  <!-- [ISSUE.29] restore when fixed -->
		<Destination_Svelte client:only="svelte"/>   <!-- [ISSUE.29] remove  when fixed -->
		<Destination_Vue    client:visible/>
	</div>
</div>



<Entrance_Astro  client:visible to="Astro"/>
<Entrance_React  client:visible to="Astro"/>
<Entrance_Solid  client:visible to="Astro"/>
<Entrance_Svelte client:visible to="Astro"/>
<Entrance_Vue    client:visible to="Astro"/>

<Entrance_Astro  client:visible to="React"/>
<Entrance_React  client:visible to="React"/>
<Entrance_Solid  client:visible to="React"/>
<Entrance_Svelte client:visible to="React"/>
<Entrance_Vue    client:visible to="React"/>

<Entrance_Astro  client:visible to="Solid"/>
<Entrance_React  client:visible to="Solid"/>
<Entrance_Solid  client:visible to="Solid"/>
<Entrance_Svelte client:visible to="Solid"/>
<Entrance_Vue    client:visible to="Solid"/>

<Entrance_Astro  client:visible to="Svelte"/>
<Entrance_React  client:visible to="Svelte"/>
<Entrance_Solid  client:visible to="Svelte"/>
<Entrance_Svelte client:visible to="Svelte"/>
<Entrance_Vue    client:visible to="Svelte"/>

<Entrance_Astro  client:visible to="Vue"/>
<Entrance_React  client:visible to="Vue"/>
<Entrance_Solid  client:visible to="Vue"/>
<Entrance_Svelte client:visible to="Vue"/>
<Entrance_Vue    client:visible to="Vue"/>
