
/* [TODO] research + implement better media queries */

//@media (min-height:670px) and (min-width:600px){main{scale:calc(1.0 * 0.80);}}
//@media (min-height:620px) and (min-width:600px){main{scale:calc(1.0 * 0.75);}}
//@media (min-height:570px) and (min-width:600px){main{scale:calc(1.0 * 0.70);}}
//@media (min-height:535px) and (min-width:600px){main{scale:calc(1.0 * 0.65);}}
//@media (min-height:1px  ) and (min-width:600px){main{scale:calc(1.0 * 0.60);}}

//@media (min-height:670px) and (min-width:1px  ){main{scale:calc(0.8 * 0.80);}}
//@media (min-height:620px) and (min-width:1px  ){main{scale:calc(0.8 * 0.75);}}
//@media (min-height:570px) and (min-width:1px  ){main{scale:calc(0.8 * 0.70);}}
//@media (min-height:535px) and (min-width:1px  ){main{scale:calc(0.8 * 0.65);}}
//@media (min-height:1px  ) and (min-width:1px  ){main{scale:calc(0.8 * 0.60);}}
