---

	//###  Style  ###//
	import "./index.scss"

	//###  Components  ###//
	import Library from "./Library.astro"

	//###  Components.Libraries  ###//
	import {React_MUI   }     from "./Libraries/React_MUI"
	import {Solid_HopeUI}     from "./Libraries/Solid_HopeUI"
	import Svelte_Materialify from "./Libraries/Svelte_Materialify.svelte"
	import Vue_NaiveUI        from "./Libraries/Vue_NaiveUI.vue"

---



<div class="Mixed-ComponentLibraries">

	<Library id="React-MUI"          title="[React] MUI"         > <React_MUI          client:only="react"   /> </Library>
	<Library id="Solid-HopeUI"       title="[Solid] Hope UI"     > <Solid_HopeUI       client:only="solid-js"/> </Library>
	<Library id="Svelte-Materialify" title="[Svelte] Materialify"> <Svelte_Materialify client:only           /> </Library>
	<Library id="Vue-NaiveUI"        title="[Vue] Naive UI"      > <Vue_NaiveUI        client:only           /> </Library>

</div>
