
<div class="Container Outer">

	<div class="Framework">
		{"Astro"}
	</div>

	<div class="Content">
		<portal-destination name="Astro-To-Astro" />
		<portal-destination name="React-To-Astro" />
		<portal-destination name="Solid-To-Astro" />
		<portal-destination name="Svelte-To-Astro"/>
		<portal-destination name="Vue-To-Astro"   />
	</div>

</div>
