---

	//###  Style  ###//
	import "./index.scss"

	//###  Layout  ###//
	import Layout from "Layouts/Default/index.astro"

	//###  Components  ###//
	import StyleWrapper from "../_Components/StyleWrapper.astro"
	import {Logos}      from "Components/Logos"

	//###  Components.Counters  ###//
	//import "../_Components/Counters/Lit"                          /* [ISSUE.1] restore when fixed */
	import AstroCounter    from "../_Components/Counters/Astro.astro"
	//import {PreactCounter} from "../_Components/Counters/Preact"  /* [ISSUE.2] restore when fixed */
	import {ReactCounter } from "../_Components/Counters/React"
	import {SolidCounter } from "../_Components/Counters/Solid"
	import SvelteCounter   from "../_Components/Counters/Svelte.svelte"
	import VueCounter      from "../_Components/Counters/Vue.vue"
	const  MarkdownCounter = await import("../_Components/Counters/Markdown.md")

---



<Layout id="Counters_Root">
	<main>

		<div class="Row">
			<StyleWrapper id="Astro"   > <AstroCounter  client:visible> <Logos.Astro   /> </AstroCounter           > </StyleWrapper>
			<StyleWrapper id="Markdown"> <MarkdownCounter.Content     > <Logos.Markdown/> </MarkdownCounter.Content> </StyleWrapper>
			<!--<StyleWrapper id="Lit"     > <lit-counter   client:visible> <Logos.Lit     /> </lit-counter            > </StyleWrapper>-->                                                             <!-- [ISSUE.1] restore when fixed -->
			<!--<StyleWrapper id="Preact"  > <PreactCounter client:visible> <Logos.Preact  /> </PreactCounter          > </StyleWrapper>-->                                                             <!-- [ISSUE.2] restore when fixed -->
			<StyleWrapper id="Lit"     > <div class="Counter"> <div class="Logo"> <Logos.Lit   /> </div> <div class="Controls"> <div/> <div class="Count"> &nbsp; </div> </div> </div> </StyleWrapper>  <!-- [ISSUE.1] remove  when fixed -->
			<StyleWrapper id="Preact"  > <div class="Counter"> <div class="Logo"> <Logos.Preact/> </div> <div class="Controls"> <div/> <div class="Count"> &nbsp; </div> </div> </div> </StyleWrapper>  <!-- [ISSUE.2] remove  when fixed -->
		</div>

		<div class="Row">
			<StyleWrapper id="React" > <ReactCounter  client:visible> <Logos.React /> </ReactCounter > </StyleWrapper>
			<StyleWrapper id="Solid" > <SolidCounter  client:visible> <Logos.Solid /> </SolidCounter > </StyleWrapper>
			<StyleWrapper id="Svelte"> <SvelteCounter client:visible> <Logos.Svelte/> </SvelteCounter> </StyleWrapper>
			<StyleWrapper id="Vue"   > <VueCounter    client:visible> <Logos.Vue   /> </VueCounter   > </StyleWrapper>
		</div>

	</main>
</Layout>

