
main{
	display:             grid;
	grid-template-rows:  repeat(2, 1fr);
	padding:             4rem;
	gap:                 4rem;
}


.Row{
	display:                grid;
	grid-template-columns:  repeat(4, 1fr);
	max-width:              80rem;
	gap:                    4rem;
}


.TAB-PANEL{
	scale:  0.7;
}


.TAB-CONTAINER,
.TAB-PANELS,
.TAB-PANELS > .Background,
.TAB-PANEL,
.Counter .Logo *{
	transition:  all 0ms !important;
}


.Counter .Count{
	scale:  0.75;
}
